body {
  background-color: #eaf6ff;
  font-family: "Roboto", sans-serif;
}

a {
  color: #1565c0;
  text-decoration: none;
  transition: ease-in-out 250ms;
}

a:hover {
  color: #0d47a1;
  font-weight: bold;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 10px;
}

main {
  padding: 30px 0;
}

footer {
  color: #546e7a;
  border-top: 1px solid #f9f7fe;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}

.container {
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0 0 0 / 0.2);
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

.units {
  font-size: 20px;
  margin: 10px 30px 0;
  text-align: right;
}

.current-weather {
  color: #546e7a;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  line-height: 24px;
}

.current-city {
  color: #212121;
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.current-country {
  color: #546e7a;
  font-size: 24px;
}

.current-weather strong {
  color: #ffa000;
}

.current-temperature {
  color: #212121;
  display: flex;
  position: relative;
  top: 20px;
}

.current-temperature-icon {
  display: inline-block;
  height: 80px;
  position: relative;
  top: -40px;
}

.current-temperature-value {
  display: inline-block;
  font-size: 80px;
  font-weight: bold;
  height: 90px;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -18px;
}

.forecast {
  display: flex;
  justify-content: space-around;
}

.forecast-day {
  text-align: center;
  width: 150px;
}

.forecast-date {
  background-color: #0d47a1;
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
  padding: 2px 0;
  width: 95%;
}

.forecast-temperatures {
  display: flex;
  justify-content: center;
}

.minimum-temperature {
  background-color: #1976d2;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin: 1px;
  padding: 2px 0;
  text-align: center;
  width: 50px;
}

.maximum-temperature {
  background-color: #e53935;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin: 1px;
  padding: 2px 0;
  text-align: center;
  width: 50px;
}

#city-input {
  background-color: #eaf6ff;
  border: none;
  border-radius: 5px;
  color: #546e7a;
  font-size: 16px;
  padding: 20px;
  width: 75%;
}

#submit-button {
  background-color: #4da6ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
  padding: 20px;
  transition: ease-in-out 250ms;
}

#submit-button:hover {
  background-color: #0d47a1;
  cursor: pointer;
}
